.modal-header2{
  color: #faa560;
}

.modal-body2{
  text-align: center;
}

.hintergrund2{
  background-color: #eaf6fc;
  border-radius: 3px;
}

.btn3{
  background-color: #faa560;
  border-color: transparent;
  margin-left: 14rem;
}
