<div class="body">
<div class="slideshow-container">
  <div class="slide active">
    <div class="container2">
      <div class="wrapper">
        <img [width]="groesse" [src]="bild"  alt="tier">
        <h1>{{ tierart }}</h1>
        <p>{{ beschreibung }}
        </p>
      </div>
      <div class="button-wrapper">
        <div class="btn outline"> <a class = "link" [href] = "weblink" >Details</a> </div>
        <div class="btn fill"> <a class="link" routerlink="routerLink">Filter</a> </div>
      </div>
    </div>
  </div>
</div>
</div>

