
<div class="container">
  <app-card class = "KatzenKarte" [tierart]="'Katzen'" [beschreibung]="'Kuscheltiger'" [groesse]="'210'" [bild] = "'assets/images/Katze.png'" [weblink] = "'https://de.wikipedia.org/wiki/Hauskatze'" [routerLink]="'/katze'"></app-card>
  <app-card [tierart]="'Hunde'" [beschreibung]="'Kuschelwolf'" [groesse]="'170'" [bild] = "'assets/images/Hund.png'" [weblink] = "'https://de.wikipedia.org/wiki/Hund'" [routerLink]="'/hund'"></app-card>
  <app-card class = "HundeKarte" [tierart]="'Kleintiere'" [beschreibung]="'Kuschelmini'" [groesse]="'155'" [bild] = "'assets/images/Hase.png'" [weblink] = "'https://de.wikipedia.org/wiki/Kleintier'" [routerLink]="'/kleintier'"></app-card>



</div>
<div class="katzenliste">
  <app-tiercards class="card" *ngFor="let tier of tierData"
                 [name]="tier.tiername"
                 [beschreibung]="tier.tierbeschreibung"
                 [groesse]="tier.groesse"
                 [bild]="tier.tierbild"
                 [tiername]="tier.tiername"
                 [tierrasse]="tier.tierrasse"
                 [tiergeschlecht]="tier.tiergeschlecht"
                 [tieralter]="tier.tieralter"
                 [tierkrankheit]="tier.tierkrankheit"
                 [tierbeschreibung]="tier.tierbeschreibung"

  ></app-tiercards>
</div>
