.modal-header1{
  color: #faa560;
}

.hintergrund1{
  background-color: #eaf6fc;
  border-radius: 3px;
}

.btn2{
  background-color: #faa560;
  border-color: transparent;
  margin-left: 14rem;
}

.modal-body1{
  text-align: center;
}
