<div class="hintergrund">
  <div class="modal-header">
    <h4 class="modal-title">STECKBRIEF</h4>
  </div>
  <!-- POPUP INHALT -->
  <div class="modal-body">
    <p>Name: {{name}}</p>
    <p>Rasse: {{rasse}}</p>
    <p>Alter: {{alter}}</p>
    <p>Geschlecht: {{geschlecht}}</p>
    <p>Krankheiten: {{krankheit}}</p>
    <p>Beschreibung: {{beschreibung}}</p>
  </div>
  <!-- BUTTON ZUM SCHLIEßEN -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</div>

