<!--FOOTER *-->
<footer id="footer">
  <div class="dreiTeil">

    <!--LINK BLOCK*-->
  <div class="innen">
    <p class="uberschrift"> LINKS </p>
    <div class="links">
      <p> Kontakt <br />Datenschutz <br /> AGB</p>
    </div>
  </div>


    <!-- NEWSLETTER BLOCK -->
  <div class="innen">
    <p class="uberschrift"> NEWSLETTER</p>
    <form action="form.php" method="post">
      <textarea class="text"
        name="textarea"
        rows="2"
        cols="50"
        placeholder="Deine E-Mailadrese: max@mustermann.de"></textarea>
    </form>
  </div>


    <div class="container">
      <a href="#" class="button">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">ABBONIEREN</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
      </a>
    </div>


    <!--KONTAKT BLOCK*-->
   <div class="innen">
     <p class="uberschrift"> KONTAKT</p>
     <div class="kontakt">
       <p> Maxi Musterfrau <br /> Musterstrasse 1, 12345 Musterort  </p>
     </div>
   </div>
    <div class="wrapper">

    </div>

   </div>
 </footer>

