h1   {color: blue;}
p    {color: #555555;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
}

.dreiTeil {
  display: flex;
  bottom: 0;

}
.text{
  padding: 1rem;
}
.innen {
  width:500px;
}
.links{
  margin-top: 10px;
  line-height: 30px;
}
.uberschrift{
  font-size: 20px;
}
.kontakt{
  text-align: center;
  line-height: 20px;
}
form{
  margin-left: 25px;
  margin-top: 30px;
}


.abbonieren{
  border: 2.0px solid #555555;
  border-radius: 2rem;
  padding: 0.325rem 1.25rem;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1rem;
  font-weight: bold;
  color: #555555;
  cursor: pointer;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  font-family: Arial;
}
.abbonieren:hover,
.abbonieren:active {
  font-size: 1.2rem;
}

a{
  text-decoration: none;
  color: #555555;
}

.instagram-button {
  border: 2.0px solid #555555;
  display: inline-block;
  background-color: rgba(64, 93, 230, 0);
  color: rgba(255, 255, 255, 0);
  text-decoration: none;
  padding: 0.4rem 0.5rem;
  border-radius: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 0.6rem;
}
.twitter-button {
  border: 2.0px solid #555555;
  display: inline-block;
  background-color: rgba(64, 93, 230, 0);
  color: rgba(255, 255, 255, 0);
  text-decoration: none;
  padding: 0.4rem 0.5rem;
  border-radius: 2rem;
  margin-left: 0rem;
  margin-right: 1rem;
  margin-top: 0.6rem;
}

.instagram-button img{
  width: 20px; /* Passe die Größe des Icons nach Bedarf an */
  height: 20px; /* Passe die Größe des Icons nach Bedarf an */
}
.twitter-button img {
  width: 20px; /* Passe die Größe des Icons nach Bedarf an */
  height: 20px; /* Passe die Größe des Icons nach Bedarf an */
}

.login{
  border: 2.0px solid #555555;
  text-decoration: none;
  padding: 0.5rem 0.6rem;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-top: 0.6rem;
}

.login:hover,
.login:active {
  font-size: 1.2rem;
}
