<!--FOOTER *-->
<footer>
  <div class="dreiTeil">

    <!--LINK BLOCK*-->
    <div class="innen">
      <p class="uberschrift"> LINKS </p>
      <div class="links">
        <a class="link" routerLink= "contact">Kontakt <br></a>
        <a href="https://de.wikipedia.org/wiki/Datenschutzerklärung">Datenschutz<br></a>
        <a href="https://de.wikipedia.org/wiki/Allgemeine_Gesch%C3%A4ftsbedingungen">AGB<br></a>
        <p> © 2023 Tierschutzverein Delmenhorst u.U.e.V. </p>

      </div>
    </div>

    <!-- NEWSLETTER BLOCK -->
    <div class="innen">
      <p class="uberschrift"> NEWSLETTER</p>
      <form  action = "form.php" method = "post">
    <textarea class="text"
              name="email"
              rows="2"
              cols="50"
              #emailInput
              placeholder="Deine E-Mailadrese: max@mustermann.de"
              required></textarea>
        <button (click) ="addtoEmail(emailInput.value)" (click)="openPopupNewsletter()" class="abbonieren" type="submit">Abonnieren</button>
      </form>
    </div>

    <!--KONTAKT BLOCK*-->
    <div class="innen">
      <p class="uberschrift"> KONTAKT</p>
      <div class="kontakt">
        <p> Tierschutzverein Delmenhorst u.U.e.V., <br> Schillbrok 5, 27755 Delmenhorst  </p>

      </div>
      <a href="https://www.instagram.com/explore/tags/tierheime/" target="_blank" class="instagram-button">
        <img src="assets/instagramm.png" alt="Instagram" />
      </a>
      <a href="https://twitter.com/" target="_blank" class="twitter-button">
        <img src="assets/twitter.png" alt="Instagram" />
      </a>
      <a class="login" routerLink= "login">Login</a>
    </div>
    <div class="wrapper">
    </div>
  </div>

</footer>
