
<div class="body">
  <div class="slideshow-container">
    <div class="slide active">
      <div class="container2">
        <div class="wrapper">
          <img [width]="200" [src]="bild"  alt="tier">
          <h1>{{ name }}</h1>
          <p>{{ beschreibung }}
          </p>
        </div>
        <div class="button-wrapper">
          <button (click)="openPopup(tiername, tierrasse, tieralter, tiergeschlecht, tierkrankheit, tierbeschreibung)" class="btn outline">Ansehen</button>
        </div>
      </div>
    </div>
  </div>
</div>
