
<div class = "spendenzahl">
  <p class = "aktuell">  Aktueller Spendenstand:</p>
  <p class = "zahl"> 1.200 € </p>

</div>

<div class="spenden">
  <div class="spendentext">
    <img src="assets/hund.png">
  </div>
  <div class="spendentext">
    <p class="uberschrift">Unterstütze unser Tierheim!</p>
    <p class="uberschriftZwei">Dank Ihrer Spende können wir:</p>

    <ul>
      <li>Unseren Tieren ausreichend Nahrung, Wasser und Spielzeug bieten.</li>
      <li>Unseren Tieren ein sicheres Zuhause gewährleisten.</li>
      <li>Unseren Tieren dringend benötigte medizinische Hilfe leisten.</li>
    </ul>
    <button class="spenden-button">10€</button>
    <button class="spenden-button">20€</button>
    <button class="spenden-button">50€</button>
    <button class="spenden-button">100€</button>


    <button class="jetztspenden-button">Jetzt Spenden</button>

  </div>
</div>

<div class = "sachspenden">
  <p class="uberschrift-sachspende">Gerne, nehmen wir auch Sachspenden!</p>
  <img class="hundenapf" src="assets/hundenapf.png">
  <img class="baseball" src="assets/baseball.png">
  <img class="shampoo" src="assets/shampoo.png">
  <img class="hundehutte" src="assets/hundehutte.png">
  <img class="halsband" src="assets/halsband.png">

  <div class = "bennenung">
    <p class = "nahrung">Nahrung</p>
    <p class = "spielzeug">Spielzeug</p>
    <p class = "hygienemittel">Hygienemittel</p>
    <p class = "schlafmöglichkeiten">Körbchen</p>
    <p class = "hilfsmittel">anderen Tierbedarf</p>
  </div>
</div>
