<!--Erster Bereich - Spendenzahl*-->


<p class = "aktuell">  Aktueller Spendenstand:</p>
<div class = "spendenzahl">
  <div class = "eins">
    <!--<p class="zahl" > {{ spendenSum }} €</p>*-->
    <p id="spendenSum" class="zahl"></p>
  </div>
</div>


<!--Zweiter Bereich - Spendenaufruf*-->
<div class="spenden">
  <div class="spendentext">
    <img  src="assets/hund.png">
  </div>
  <div class="spendentext">
    <p class="uberschrift">Unterstütze unser Tierheim!</p>
    <p class="uberschriftZwei">Dank Ihrer Spende können wir:</p>

    <ul>
      <li>Unseren Tieren ausreichend Nahrung, Wasser und Spielzeug bieten.</li>
      <li>Unseren Tieren ein sicheres Zuhause gewährleisten.</li>
      <li>Unseren Tieren dringend benötigte medizinische Hilfe leisten.</li>
    </ul>
    <button (click)="addToSpenden(10)" (click)="openPopupSpende()" class="spenden-button">10€</button>
    <button (click)="addToSpenden(20)" (click)="openPopupSpende()" class="spenden-button">20€</button>
    <button (click)="addToSpenden(50)" (click)="openPopupSpende()" class="spenden-button">50€</button>
    <button (click)="addToSpenden(100)"(click)="openPopupSpende()" class="spenden-button">100€</button>

  </div>
</div>

<!--Dritter Bereich - Spendentext*-->
<div class = "spendenaufruf">
  <p class = "texti"> 🐾🏠 Unterstütze ein Tierheim - Deine Spende macht den Unterschied! 🐾🏠 <br><br>

    Liebe Tierfreunde,<br> wir brauchen deine Hilfe! In unserem Tierheim kümmern wir uns mit ganzem Herzen um hilfsbedürftige Vierbeiner, die auf der Suche nach einem liebevollen Zuhause sind. Doch unsere Ressourcen sind begrenzt, und wir sind auf Spenden angewiesen, um ihre Bedürfnisse zu erfüllen. <br><br>

    Mit deiner großzügigen Spende kannst du uns dabei helfen, Futter, medizinische Versorgung und Unterkunft für diese unschuldigen Seelen bereitzustellen. Dein Beitrag ermöglicht es uns, verwaisten Tieren Trost und Wärme zu schenken, ihre Gesundheit zu erhalten und ihnen die Chance auf ein neues Leben zu geben. <br><br>

    Denk daran, dass jede Spende zählt - selbst der kleinste Betrag kann einen Unterschied machen. Gemeinsam können wir ihnen eine zweite Chance geben, ein Lächeln auf ihre Gesichter zaubern und ihre Herzen mit Liebe erfüllen.<br><br>

    Indem du für unser Tierheim spendest, tust du nicht nur etwas Gutes für die Tiere, sondern du wirst auch Teil einer bewundernswerten Gemeinschaft von Tierliebhabern, die sich für das Wohl der Schwächsten einsetzen. Du kannst stolz sein, ein Leben gerettet und die Welt für ein unschuldiges Geschöpf verbessert zu haben. <br><br>

    Bitte zögere nicht länger - öffne dein Herz und deine Geldbörse und spende für unser Tierheim. Jede Spende bringt uns näher an unser Ziel, diese bedürftigen Tiere zu retten und ihnen ein liebevolles Zuhause zu schenken. Du kannst den Unterschied machen!<br><br>

    Danke im Voraus für deine großzügige Unterstützung! <br> Gemeinsam können wir Leben verändern und bedürftigen Tieren eine hoffnungsvolle Zukunft geben. 🐾❤️🐾</p>
</div>

<img class = "koffer" src="assets/hundekoffer.png">

<!--Vierter Bereich - Sachspenden*-->
<div class = "sachspenden">
  <p class="uberschrift-sachspende"> Wir freuen uns auch sehr über Sachspenden! </p>
  <img class="hundenapf" src="assets/hundenapf.png">
  <img class="baseball" src="assets/baseball.png">
  <img class="shampoo" src="assets/shampoo.png">
  <img class="hundehutte" src="assets/hundehutte.png">
  <img class="halsband" src="assets/halsband.png">

  <div class = "bennenung">
    <p class = "nahrung">Nahrung</p>
    <p class = "spielzeug">Spielzeug</p>
    <p class = "hygienemittel">Hygienemittel</p>
    <p class = "schlafmöglichkeiten">Körbchen</p>
    <p class = "hilfsmittel">anderen Tierbedarf</p>
  </div>
</div>
