
<div class ="spenden">
  <div class ="spendentext">
    <img src="assets/hund.png">
  </div>
  <div class ="spendentext">
  <p class = "uberschrift">Ihre Spende macht den Unterschied!</p>
  <p class = "uberschriftZwei">Dank Ihrer Spende können wir:</p>

    <ul>
      <li> Unseren Tieren ausreichend Nahrung, Wasser und Spielzeug bieten.</li>
      <li> Unseren Tieren ein sicheres Zuhause gewährleisten.</li>
      <li> Unseren Tieren dringend benötigte medizinische Hilfe leisten.</li>
    </ul>
  </div>

</div>
