nav {
  padding-right: 1rem;
  left: 50%;
}

nav ul{

  list-style: none;
  display: flex;
  /*gap: 20px;*/
}


nav a{
  padding: 1.2rem;
  text-decoration: none;
  position: relative;
  color: #654321;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  /*text-align: center;*/
}

nav a::after{
  content: '';
  height: 2.5px;
  width: 0;
  background: #A8E4B8;
  position: absolute;
  bottom: 0;
  left:0;
  transition: 150ms ease-in-out;
}

nav a:hover::after{
  width: 100%;
}


.dekor{
  float: right;
  z-index: -2;
  transform: translate(-0%, -20%);
}

.ellipse{
  width: 60rem;
}



