<div class = "hhh">



  <div class="dekor">
    <img class="ellipse" src="./assets/images/Ellipse.png" alt=""/>
  </div>



  <nav class="navbar ">

      <div class="navbar-nav ">
        <ul >
          <li><a class="nav-link" routerLink= "">Home</a></li><br>
          <li><a class="nav-link" routerLink= "vermittlung">Vermittlung</a></li><br>
          <li> <a class="nav-link" routerLink= "spenden">Spenden</a></li>
          <li> <a class="nav-link" routerLink= "contact">Kontakte</a></li>
        </ul>
      </div>

</nav>
  <img class="logo" src="assets/logo.png" alt=""/>
</div>





