.container {
  display: flex;
}

app-card {
  flex: 1;
  max-width: 33%;
  margin: 10px;
}

.KatzenKarte .container2{
  background-color: #FFDCF4;
}

.HundeKarte .container2{
  background-color: #E2F0C6;
}
